<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="/" class="w3-bar-item w3-button">HOME</a>
    <a href="#about" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-bar-chart"></i> INFO</a>
    <a href="/signup" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-id-card"></i> SIGN UP</a>
    <a href="/login" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-sign-in"></i> LOG IN</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
    <a href="#about" class="w3-bar-item w3-button" onclick="toggleFunction()">INFO</a>
    <a href="/signup" class="w3-bar-item w3-button" onclick="toggleFunction()">SIGN UP</a>
    <a href="/login" class="w3-bar-item w3-button" onclick="toggleFunction()">LOG IN</a>
  </div>
</div>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">RENT <span class="w3-hide-small">F$%@ING</span> SUCKS</span>
  </div>
</div>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
  <h3 class="w3-center">Housing Market</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
    qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
      <img src="/img/map_data.png" class="w3-round w3-image w3-hover-opacity" onclick="onClick(this)" alt="Map Data" width="500" height="333">
    </div>

    <!-- Hide this text on small devices -->
    <div class="w3-col m6 w3-hide-small w3-padding-large">
      <p>I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
  <p class="w3-large w3-center w3-padding-16">Cost Per:</p>
  <p class="w3-wide">Highest cost one bedroom in portland</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:<%=@high_percent%>%">$<%=@br1high%> </div>
  </div>
  <p class="w3-wide">Median one bedroom in portland</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:<%=@med_percent%>%">$<%=@br1med%> </div>
  </div>
  <p class="w3-wide">Average one bedroom in portland</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:<%=@avg_percent%>%">$<%=@br1avg%> </div>
  </div>
  <p class="w3-wide">Lowest cost one bedroom in portland</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:<%=@low_percent%>%">$<%=@br1low%> </div>
  </div>
</div>

<div class="w3-row w3-center w3-dark-grey w3-padding-16">
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">$<%=@br1avg%> per month</span><br>
    AVERAGE 1 BEDROOM PRICE
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">$<%=@br1med%> per month</span><br>
    MEDIAN 1 BEDROOM PRICE
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">$<%=@br1high%> per month</span><br>
    HIGHEST 1 BEDROOM PRICE
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">$<%=@br1low%> per month</span><br>
    LOWEST 1 BEDROOM PRICE
  </div>
</div>

<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">RESEARCH</span>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64" id="portfolio">
  <h3 class="w3-center">LISTINGS</h3>
  <p class="w3-center"><em>lorem work ipsum tipsum.</em></p><br>

  <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
  <div class="w3-row-padding w3-center">
    <div class="w3-col m3">
      <img src=/img/apt1.jpg height="175px" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="apt_1">
    </div>

    <div class="w3-col m3">
      <img src=/img/apt4.jpg height="175px" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="apt_2">
    </div>

    <div class="w3-col m3">
      <img src=/img/apt3.jpg height="175px" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="apt_3">
    </div>

    <div class="w3-col m3">
      <img src=/img/apt5.jpg height="175px" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="apt_4">
    </div>
  </div>

  <div class="w3-row-padding w3-center w3-section">
    <div class="w3-col m3">
      <p>STUFF GOES HERE</p>
    </div>

    <div class="w3-col m3">
      <p>STUFF GOES HERE</p>
    </div>

    <div class="w3-col m3">
      <p>STUFF GOES HERE</p>
    </div>

    <div class="w3-col m3">
      <p>BLAH BLAH BLAH</p>
    </div>
  </div>
</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
     <span class="w3-xxlarge w3-text-white w3-wide">CONTACT US</span>
  </div>
</div>

<!-- Container (Contact Section) -->
<div class="w3-content w3-container w3-padding-64" id="contact">
  <h3 class="w3-center">WHERE WE WORK</h3>
  <p class="w3-center"><em>Epicodus</em></p>

  <div class="w3-row w3-padding-32 w3-section">
    <div class="w3-col m4 w3-container">
      <!-- Add Google Maps -->
      <img src=/img/map.jpg height="175px" style="width:100%;height:400px" onclick="onClick(this)" class="w3-round-large w3-greyscale" alt="apt_1">
    </div>
    <div class="w3-col m8 w3-panel">
      <div class="w3-large w3-margin-bottom">
        <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i>Portland, OR<br>
        <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: 573-555-5555<br>
        <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: f#@$your@self.com<br>
      </div>
      <form action="mailto:someone@example.com">
        <button class="w3-button w3-black w3-left w3-section" type="submit">
          <i class="fa fa-paper-plane"></i> SEND EMAIL
        </button>
      </form>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</footer>
