<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portland Rent Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar" id="myNavbar">
      <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
        <i class="fa fa-bars"></i>
      </a>
      <a href="/" class="w3-bar-item w3-button">HOME</a>
      <a href="#value" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-bar-chart"></i> VALUE</a>
      <a href="/signup" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-id-card"></i> SIGN UP</a>
      <a href="/login" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-sign-in"></i> LOG IN</a>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
      <a href="#about" class="w3-bar-item w3-button" onclick="toggleFunction()">VALUE</a>
      <a href="/signup" class="w3-bar-item w3-button" onclick="toggleFunction()">SIGN UP</a>
      <a href="/login" class="w3-bar-item w3-button" onclick="toggleFunction()">LOG IN</a>
    </div>
  </div>

  <!-- First Parallax Image with Logo Text -->
  <div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
    <div class="w3-display-middle" style="white-space:nowrap;">
      <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">RENT <span class="w3-hide-small">F$%@ING</span> SUCKS</span>
    </div>
  </div>

  <!-- Container (About Section) -->
  <div class="w3-content w3-container w3-padding-64" id="about">
    <h3 class="w3-center">Housing Market</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit rent f$%@ing sucks. eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
      qui officia deserunt mollit anim id est laborum consectetur rent f$%@ing sucks. do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <div class="w3-row">
      <div class="w3-col m6 w3-center w3-padding-large">
        <img src="/img/portlandmap.jpg" class="w3-round w3-image" alt="Map" width="500" height="333">
      </div>

      <!-- Hide this text on small devices -->
      <div class="w3-col m6 w3-hide-small w3-padding-large">
        <p>I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate rent f$%@ing sucks. dolore eu fugiat nulla pariatur. rent f$%@ing sucks. cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>

      <div class="w3-col m6 w3-hide-small w3-padding-large">
        <p>I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu rent f$%@ing sucks. Excepteur sint occaecat cupidatat non proident, sunt rent f$%@ing sucks. deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud rent f$%@ing sucks. laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <p class="w3-large w3-center w3-padding-16" id="info"></p>
    <p class="w3-wide">Highest cost one bedroom in portland</p>
    <div class="w3-light-grey">
      <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:<%=@high_percent%>%">$<%=@br1high%> </div>
    </div><br>
    <p class="w3-wide">Median one bedroom in portland</p>
    <div class="w3-light-grey">
      <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:<%=@med_percent%>%">$<%=@br1med%> </div>
    </div><br>
    <p class="w3-wide">Average one bedroom in portland</p>
    <div class="w3-light-grey">
      <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:<%=@avg_percent%>%">$<%=@br1avg%> </div>
    </div><br>
    <p class="w3-wide">Lowest cost one bedroom in portland</p>
    <div class="w3-light-grey">
      <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:<%=@low_percent%>%">$<%=@br1low%> </div>
    </div>
  </div>

  <div class="w3-row w3-center w3-dark-grey w3-padding-16">
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">$<%=@br1avg%> per month</span><br>
      AVERAGE 1 BEDROOM PRICE
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">$<%=@br1med%> per month</span><br>
      MEDIAN 1 BEDROOM PRICE
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">$<%=@br1high%> per month</span><br>
      HIGHEST 1 BEDROOM PRICE
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">$<%=@br1low%> per month</span><br>
      LOWEST 1 BEDROOM PRICE
    </div>
  </div>

  <!-- Second Parallax Image with Portfolio Text -->
  <div class="bgimg-2 w3-display-container w3-opacity-min"  id="value">
    <div class="w3-display-middle">
      <span class="w3-xxlarge w3-text-white w3-wide">BEST VALUE</span>
      <span class="w3-xxlarge w3-text-white w3-wide"><p class="w3-center"><em>(by area)</em></p><br></span>
    </div>
  </div>

    <!-- Responsive Grid. Carousel Jquery -->

  <div class='w3-content w3-container w3-padding-64 w3-opacity-min'>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="/img/alberta1.jpg" alt="alberta1" style="width:100%;">
          <div class="carousel-caption">
            <h1>Best one bedroom deal in Northeast Portland:</h1>
            <h1><a href="<%=@best_deal_NE.url%>"><%=@best_deal_NE.address%></a></h1>
            <h4><%=@best_deal_NE.name%></h4>
            <h1>$<%=@best_deal_NE.price%></h1>
          </div>
        </div>

        <div class="item">
          <img src="/img/darth.jpg" alt="darth" style="width:100%;">
          <div class="carousel-caption">
            <h1>Best one bedroom deal in Southeast Portland</h1>
            <h1><a href="<%=@best_deal_SE.url%>"><%=@best_deal_SE.address%></a></h1>
            <h4><%=@best_deal_SE.name%></h4>
            <h1>$<%=@best_deal_SE.price%></h1>
          </div>
        </div>

        <div class="item">
          <img src="/img/cinema.jpg" alt="cinema" style="width:100%;">
          <div class="carousel-caption">
            <h1>Best one bedroom deal in Northwest Portland</h1>
            <h1><a href="<%=@best_deal_NW.url%>"><%=@best_deal_NW.address%></a></h1>
            <h4><%=@best_deal_NW.name%></h4>
            <h1>$<%=@best_deal_NW.price%></h1>
          </div>
        </div>

        <div class="item">
          <img src="/img/bunyon.jpg" alt="bunyon" style="width:100%;">
          <div class="carousel-caption">
            <h1>Best one bedroom deal in North Portland</h1>
            <h1><a href="<%=@best_deal_N.url%>"><%=@best_deal_N.address%></a></h1>
            <h4><%=@best_deal_N.name%></h4>
            <h1>$<%=@best_deal_N.price%></h1>
          </div>
        </div>

        <div class="item">
          <img src="/img/schnitz.jpg" alt="schnitz" style="width:100%;">
          <div class="carousel-caption">
            <h1>Best one bedroom deal in Southwest Portland</h1>
            <h1><a href="<%=@best_deal_SW.url%>"><%=@best_deal_SW.address%></a></h1>
            <h4><%=@best_deal_SW.name%></h4>
            <h1>$<%=@best_deal_SW.price%></h1>
          </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>


  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
    <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption" class="w3-opacity w3-large"></p>
    </div>
  </div>

  <!-- Third Parallax Image with Portfolio Text -->
  <div class="bgimg-3 w3-display-container w3-opacity-min">
    <div class="w3-display-middle">
       <span class="w3-xxlarge w3-text-white w3-wide">CONTACT US</span>
    </div>
  </div>

  <!-- Container (Contact Section) -->
  <div class="w3-content w3-container w3-padding-64" id="contact">
    <h3 class="w3-center">WHERE WE WORK</h3>
    <p class="w3-center"><em>Epicodus</em></p>

    <div class="w3-row w3-padding-32 w3-section">
      <div class="w3-col m4 w3-container">
        <!-- Add Google Maps -->
        <img src=/img/map.jpg height="175px" style="width:100%;height:400px" onclick="onClick(this)" class="w3-round-large w3-greyscale" alt="apt_1">
      </div>
      <div class="w3-col m8 w3-panel">
        <div class="w3-large w3-margin-bottom">
          <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i>Portland, OR<br>
          <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: 573-555-5555<br>
          <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: f#@$your@self.com<br>
        </div>
        <form action="mailto:someone@example.com">
          <button class="w3-button w3-black w3-left w3-section" type="submit">
            <i class="fa fa-paper-plane"></i> SEND EMAIL
          </button>
        </form>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
    <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <div class="w3-xlarge w3-section">
    </div>
  </footer>
</html>
