<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:290px;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <img src="/w3images/avatar_g2.jpg" style="width:45%;" class="w3-round"><br><br>
    <h4><b>PORTFOLIO</b></h4>
    <p class="w3-text-grey"><%= @user.username%></p>
  </div>
  <div class="w3-bar-block">
    <a href="#portfolio" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>PORTFOLIO</a>
    <a href='/' onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>Home</a>
  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-right:10px;">

  <!-- Header -->
  <header id="portfolio">
    <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    <h1><b>Apartment Data</b></h1>
    <div class="w3-section w3-bottombar w3-padding-16">
      <span class="w3-margin-right">Filter:</span>
      <button class="w3-button w3-white"><i class="fa fa-building w3-margin-right"></i>Square Ft.</button>
      <button class="w3-button w3-white w3-hide-small"><i class="fa fa-bed w3-margin-right"></i>Bed Rooms</button>
      <button class="w3-button w3-white w3-hide-small"><i class="fa fa-usd w3-margin-right"></i>Cost</button>
      <button class="w3-button w3-white w3-hide-small"><i class="fa fa-arrows w3-margin-right"></i>Region</button>
    </div>
    </div>
  </header>
  <!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->

  <div class="container">
    <form action="/user/<%= @user.id %>" method="post">
     <h1>Search Criteria:</h1>
     <h3>Important: Leave a input blank if you do not wish to search by those parameters</h3>

     <h4>Bedrooms:</h4>
     <div class='form-group'>
       <label>
         <input type="checkbox" onClick="toggle(this)" /> Select All<br/>
       </label>
       <% x = 1%>
       <% while x < 9 do %>
         <label>
           <input type='checkbox' name='bed[]' value="<%= x %>"> <%= x %> Br
         </label>
         <% x += 1 %>
       <% end %>
     </div>
     <h4>Bathrooms:</h4>
     <div class='form-group'>
       <label>
         <input type="checkbox" onClick="toggle2(this)" /> Select All<br/>
       </label>
       <% j = 1%>
       <% while j < 6 do %>
         <label>
           <input type='checkbox' name='bath[]' value="<%= j %>"> <%= j %> Bathroom
         </label>
         <% j += 1%>
       <% end %>
     </div>


     <h4>Quadrant:</h4>
     <div class='form-group'>
       <label>
         <input type="checkbox" onClick="toggle3(this)" /> Select All<br/>
       </label>
       <label>
         <input type='checkbox' name='section[]' value="North Portland">  North Portland
       </label>
       <label>
         <input type='checkbox' name='section[]' value="Northeast Portland">  Northeast Portland
       </label>
       <label>
         <input type='checkbox' name='section[]' value="Northwest Portland">  Northwest Portland
       </label>
       <label>
         <input type='checkbox' name='section[]' value="Southeast Portland">  Southeast Portland
       </label>
       <label>
         <input type='checkbox' name='section[]' value="Southwest Portland">  Southwest Portland
       </label>
     </div>

     <label for="sqft">Enter Min Sqare Feet</label>
     <input type="number" name="sqft"><br>

     <button type="submit">Search</button>
    </form>




    <% if @search.any? %>
    <div style="text-align:center">
      <h2>Number of Results: <%= @search.length %> out of <%= @all.length %></h2>
      <h2>Average Rent: $<%= ave_rent(@search) %></h2>
      <h2>Median: $<%= median(@search) %></h2>
    </div>

      <h2>Results:</h2>
      <table class="table table-striped table-info">
        <thead>
          <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Sqft</th>
            <th>Bed</th>
            <th>Bath</th>
            <th>Location</th>
            <th>Link</th>
            <th>Posted</th>
          </tr>
        </thead>
      </tbody>
        <% @search.each do |result| %>
          <tr>
            <td><%= result.name %></td>
            <td>$<%= result.price %></td>
            <td><%= result.sqft %> ft<sup>2</sup></td>
            <td><%= result.bed %></td>
            <td><%= result.bath %></td>
            <td><%= result.section %></td>
            <td><a href="<%= result.url %>">Link</td>
            <td><%= result.posted %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <%else%>
      <h2>No Results with current Fields</h2>
    <%end%>
  </div>

  <h4>DATA DATA</h4>
  <!-- Compare bars /  -->
  <p>COMPARE DATA</p>
  <div class="w3-grey">
    <div class="w3-container w3-dark-grey w3-padding w3-center" style="width:95%">95%</div>
  </div><br>
  <p>COMPARE DATA</p>
  <div class="w3-grey">
    <div class="w3-container w3-dark-grey w3-padding w3-center" style="width:85%">85%</div>
  </div><br>
  <p>COMPARE DATA</p>
  <div class="w3-grey">
    <div class="w3-container w3-dark-grey w3-padding w3-center" style="width:80%">80%</div>
  </div>

  <hr>

<h1>INPUT FIELDS</h1>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
function toggle(source) {
 checkboxes = document.getElementsByName('bed[]');
 for(var i=0, n=checkboxes.length;i<n;i++) {
   checkboxes[i].checked = source.checked;
 }
}
function toggle2(source) {
 checkboxes = document.getElementsByName('bath[]');
 for(var i=0, n=checkboxes.length;i<n;i++) {
   checkboxes[i].checked = source.checked;
 }
}
function toggle3(source) {
 checkboxes = document.getElementsByName('section[]');
 for(var i=0, n=checkboxes.length;i<n;i++) {
   checkboxes[i].checked = source.checked;
 }
}
</script>

</body>
